<script>
function install(){
var url = location.href;
var manifestUrl = url.substring(0, url.lastIndexOf('/')) + '/manifest.webapp';
var install = navigator.mozApps.install(manifestUrl);
install.addEventListener('success', function() {
    alert('Installed successfully.');
}, false);
install.addEventListener('error', function() {
    alert('Install failed. ' + install.error.name);
}, false);

};
</script>



<% if signed_in? %>
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info' %>
			</section>
			<section>
				<%= render 'shared/stats' %>
			</section>
			<section>
				<%= render 'shared/micropost_form' %>
			</section>
		</aside>

		<div class="span8">
			<h3>Micropost Feed</h3>
			<%= render 'shared/feed' %>
		</div>
	</div>
<% else %>
	<div class="center hero-unit">
		<h1>Welcome to the Sample App</h1>

		<h2>
			This is the home page for the
			<a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>
			sample application.
		</h2>

		<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<% end %>
		<button onclick="install()">インストール</button>